
@font-face {
    font-family: "Augusta";
    src: url('../fonts/Augusta.ttf') format("truetype");
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Augusta";
    overflow: hidden;
}